<style>
    #login-holder {
        transition-duration: 0.5s;
        box-shadow: rgba(0,0,0,0.4) 0px 0px 25px 5px;
        background-color: #121212;
        border: 2px solid grey;
        border-radius: 10px;
        position: relative;
        margin: 100px auto;
        overflow: hidden;
        max-width: 450px;
        height: 184px;
    }
    #login-holder > div {
        position: absolute;
        top: -25px;
    }
    #login-holder > span {
        font-family: 'Eras ITC';
        margin-left: 240px;
        font-size: 26px;
    }
    #frmLogin {
        transition-duration: 0.3s;
        padding: 15px;
        display: inline-block;
        margin-left: 190px;
        overflow: hidden;
        background-color: #121212;
    }
    .frmHide {
        height: 70px;
        border-bottom: 2px solid white;
    }
    .frmShow {
        height: 182px;
        border-bottom: 2px solid #121212;
    }
    button {
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        float: right;
    }
    button:hover {
        background-color: red;
    }
    .input-group-addon {
        background: none;
    }
    .input-group .form-control {
        background: none;
        color: white;
    }
    .form-control.form-controlFor:focus::-webkit-input-placeholder,
    .form-control.form-controlFor:active::-webkit-input-placeholder {
      text-indent: -100%;
      transition: 0.5s ease-in-out;
      opacity: 1;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: none;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: none;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: none;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: none;
    }
    button {
        outline: none;
    }
</style>

<div id="login-holder">
    <div>
        <img class="diamond horizontal-flipOn" src="../Images/_MLAjaxLoad.svg" draggable="false"/>
    </div>

    @using (Html.BeginForm("LogIn", "Index", FormMethod.Post, new { @id = "frmLogin", @class = "frmShow" }))
    {
        Html.RenderPartial("LoginFormContent");
    }
    <span>Logging in...</span>
</div>

<script>
    $(function () {
        $('#frmLogin').on("submit", function (e) {
            e.preventDefault();
            toggleForm();
            $('#userInfo_credentials_user').attr('readonly', 'true');

            $.ajax({
                async: true,
                type: 'POST',
                url: $(this).attr("action"),
                data: $('form :input').serializeArray(),
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                dataType: 'html',
                cache: false,
                success: function (result) {
                    setTimeout(function () { $('form#frmLogin').html(result); toggleForm(); }, 300);
                },
                error: function () {
                    alert('an error has occured');
                    setTimeout(function () { $('#userInfo_credentials_user').removeAttr('readonly'); toggleForm(); }, 300);
                }
            });
        });
    });

    function toggleForm() {
        if ($('#frmLogin').hasClass('frmShow')) {
            $('#frmLogin').removeClass('frmShow');
            $('#frmLogin').addClass('frmHide');
        }
        else {
            $('#frmLogin').removeClass('frmHide');
            $('#frmLogin').addClass('frmShow');
        }
    }
</script>