#MLLogo-Ajax-Circle { 
    position: absolute; top: 30%; left: 50%; width: 50px; height: 50px; margin: -25px 0 0 -25px;
    -webkit-animation: spin 0.6s linear infinite; -moz-animation: spin 0.6s linear infinite; -ms-animation: spin 0.6s linear infinite; -o-animation: spin 0.6s linear infinite; animation: spin 0.6s linear infinite; 
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; 
}
@-moz-keyframes spin    { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-webkit-keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-ms-keyframes spin     { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-o-keyframes spin      { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@keyframes spin         { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

#MLLogo-Diamond { 
    position: absolute; top: 30%; left: 50%; width: 40px; height: 40px; margin: -20px 0 0 -20px;
    -webkit-animation: flip 2s linear infinite; -moz-animation: flip 2s linear infinite; -ms-animation: flip 2s linear infinite; -o-animation: flip 2s linear infinite; animation: flip 2s linear infinite; 
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
@-moz-keyframes flip    { 0% { transform: rotateY(0deg); } 50% { transform: rotateY(180deg); } 100% { transform: rotateY(360deg); } }
@-webkit-keyframes flip { 0% { transform: rotateY(0deg); } 50% { transform: rotateY(180deg); } 100% { transform: rotateY(360deg); } }
@-ms-keyframes flip     { 0% { transform: rotateY(0deg); } 50% { transform: rotateY(180deg); } 100% { transform: rotateY(360deg); } }
@-o-keyframes flip      { 0% { transform: rotateY(0deg); } 50% { transform: rotateY(180deg); } 100% { transform: rotateY(360deg); } }
@keyframes flip         { 0% { transform: rotateY(0deg); } 50% { transform: rotateY(180deg); } 100% { transform: rotateY(360deg); } }

.horizontal-flipOn
{ 
  -webkit-animation: flip 4s linear infinite; 
  -khtml-animation: flip 4s linear infinite; 
  -moz-animation: flip 4s linear infinite; 
  -ms-animation: flip 4s linear infinite; 
  -o-animation: flip 4s linear infinite; 
  animation: flip 4s linear infinite; 
}