@model DailyTaskReport.Models.TaskModel
<style>
    .add-task-holder {
        border-radius: 10px;
        border: 2px solid #ca0f0f;
        max-width: 1000px;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: rgba(0,0,0,0.4) 0px 0px 25px 5px;
    }
    .add-task-holder > div:first-child {
        background-color: #ca0f0f;
        font-size: 16px;
        color: white;
    }
    .add-task-holder > div {
        background-color: white;
        color: black;
        padding: 20px;
    }
    
</style>

<div class="add-task-holder">
    <div>
        Add Task
    </div>
    <div class="add-task-content">
        Date : @Html.TextBoxFor(m => m.dateTime, new { @type = "date"}) <br />
        Time <br />
        Work Order <br />
        Task <br />
    </div>
</div>

<script>
    $(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) dd='0'+dd;
        if (mm < 10) mm = '0' + mm;
        var today = yyyy+'-'+mm+'-'+dd;
        document.getElementById('dateTime').value = today;
    });
</script>