@model DailyTaskReport.Models.TaskDisplayResponse
<style>
    .recent-activities {
        border: 1px solid white;
        max-width: 1000px;
        margin: auto;
    }
</style>
<div class="recent-activities">
    Date : Month dd, yyyy<br />
    Time : xx:xx ─ xx:xx <br />
    Work Order No. ISD-MTXxxxxxxxxxxx<br />
    
    
</div>
