<nav>
    <ul>
        <li>
            <a onclick="promptMsg('Home page feature is not available')">Home</a>
        </li>
        <li>
            <a onclick="getTaskView('@Session["_user"]')">Task</a>
        </li>
        <li>
            <a onclick="promptMsg('Members feature is not available')">Members</a>
        </li>
    </ul>
</nav>

<nav>
    <ul>
        <li>
            @Html.ActionLink("Logout", "LogOut", "Index", "", new { @style = "" })
        </li>
    </ul>
</nav>