<style>
    header > ul {
        list-style: none
    }
    header > ul > li {
        float: left;
    }
    header > ul > li > a {
        transition-duration: 0.3s;
        text-decoration: none;
        display: block; 
        padding: 0 10px;
        cursor: pointer;
        color: lightgray;
    }
    header > ul > li > a:hover {
        line-height: 46px;
        border-bottom: 4px solid white;
        text-decoration: none;
        background-color: red;
        color: white;
     }
</style>

<ul>
    <li>
        <a>Home</a>
    </li>
    <li>
        <a>Employees</a>
    </li>
    <li>
        <a>Search</a>
    </li>
</ul>