<style>
    header > ul {
        list-style: none
    }
    header > ul > li {
        float: left;
    }
    header > ul > li > a {
        transition-duration: 0.3s;
        display: block; 
        padding: 0 10px;
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }
    header > ul > li > a:hover {
        text-decoration: none;
        color: white;
        background-color: darkgrey;
     }
</style>

<ul>
    <li>
        <a>Home</a>
    </li>
    <li>
        <a>Employees</a>
    </li>
    <li>
        <a>Search</a>
    </li>
</ul>