<ul>
    <li>
        <a>Home</a>
    </li>
    <li>
        <a>Employees</a>
    </li>
    <li>
        <a id="AddTask">Add Task</a>
    </li>
    <li>
        <a>My Recent Tasks</a>
    </li>
    <li>
        <a>Search</a>
    </li>
</ul>

<nav>
    <ul>
        <li>
            @Html.ActionLink("Logout", "LogOut", "Index", "", new { @style = "" })
        </li>
    </ul>
</nav>

<script>
    $(function () {
        var isAddTaskClicked = false;
        $('#AddTask').click(function () {
            if (!isAddTaskClicked) {
                toggleUIBlocker();
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/Home/getAddTask',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    dataType: 'html',
                    cache: false,
                    success: function (result) {
                        isAddTaskClicked = true;
                        setTimeout(function () {
                            $('#body-content').html(result);
                            setTimeout(function () { toggleUIBlocker(); }, 300);
                        }, 300);
                    },
                    error: function () {
                        alert('an error has occured');
                    }
                })
            }
            else {
                isAddTaskClicked = false;
                $('#body-content').html("");
            }
        });
    });
</script>