body {
    background-color: lightgrey;
}
header {
    line-height: 50px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body > div {
    border: 1px solid green;
    margin-top: 60px;
    
    padding: 15px;
}

.bgcred {
    background-color: #ca0f0f;
}
.defaultbdy {
    background: url('../Images/mlhuillier-logo.svg') no-repeat fixed lightgrey; 
    background-size: contain;
    background-position: center;
}
.fontWhite {
    color: white;
}