body {
    background: url('../Images/bg.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 690px;
}
header {
    line-height: 50px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    background: red; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left top, rgba(), yellow); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(200,0,0,0.4)); /* Standard syntax */
}
header > ul,
header > nav > ul {
    list-style: none
}
header > ul > li {
    float: left;
}
header > nav {
    position: fixed;
    right: 40px;
    top: 0px;
}
header > nav > ul > li {
    float: left;
}
header > ul > li > a,
header > nav > ul > li > a {
    transition-duration: 0.3s;
    text-decoration: none;
    display: block; 
    padding: 0 10px;
    cursor: pointer;
    color: lightgray;
}
header > ul > li > a:hover,
header > nav > ul > li > a:hover {
    line-height: 46px;
    border-bottom: 4px solid rgba(255,255,255, 0.5);
    text-decoration: none;
    background-color: rgba(255,50,50, 0.3);
    color: white;
}
body > div {
    margin-top: 60px;
    padding: 15px;
}
button {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
}
button:hover {
    background-color: red;
}
.bgcred {
    background-color: #ca0f0f;
}
.defaultbdy {
    background: url('../Images/mlhuillier-logo.svg') no-repeat fixed lightgrey; 
    background-size: contain;
    background-position: center;
}
.fontWhite {
    color: white;
}
.fontBlack {
    color: black;
}
.field-validation-error {
    color: #c35454;
}


#uiBlocker {
    transition-duration: 0.3s;
    position: fixed;
    top: -60px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
div#uiBlocker > div{
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    width: 200px;
    left: 50%;
    top: 50%;
    font-size: 12px;
}
.elementShow {
    opacity: 1;
    z-index: 5;
}
.elementHide {
    opacity: 0;
    z-index: -1;
}