<script>
    if ("@Session["_user"]" == "") {
        console.log("Session expired.");
        promptMsg("Current session has expired. <br /> Please login again", true);
    }
    else {
        $(function () {
            toggleUIBlocker(false);
        });
    }
</script>
<style>
    div.task-page-header > div.title-separator {
        height: 10px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
    }
    div.task-page-header > span {
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    div.task-page-header {
        line-height: 0.5;
    }
    div.task-content {
        padding: 10px 0;
        background: rgba(36,0,0,0.3);
        margin: 15px auto 0 auto;
        max-height: 500px;
        max-width: 700px;
        overflow-y: scroll;
        display: block;
    }
    div.task-content > div {
        padding: 10px 20px;
        margin: 0px;
    }
    div.date-content {
        background: rgba(36,0,0,0.9);
        padding: 10px;
        display: inline-block;
    }
    div.data-content > div {
        padding: 0;
        background: rgba(36,0,0,0.2);
    }
    div.data-content > div:nth-child(2n) {
        background: rgba(36,0,0,0.5);
    }
    div.data-content > div > div {
        padding: 10px 0;
        display: inline-block;
        float: left;
    }
    div.data-content > div > div > div {
        padding: 0 -15px;
    }
    div.data-content > div > div > div > div {
        padding: 0
    }
    div.task-options {
        margin: 15px auto 0 auto;
        width: 430px;
    }
    div.task-options > ul {
        list-style: none;
        line-height: 40px;
        margin: 0px;
    }
    div.task-options > ul > li {
        float: left;
        background-color: rgba(50,0,0,0.9);
    }
    div.task-options > ul > li > a {
        transition-duration: 0.3s;
        text-decoration: none;
        display: block; 
        padding: 0 10px;
        cursor: pointer;
        color: lightgrey;
        border-bottom: 3px solid rgba(36,0,0,0.0);
    }
    div.task-options > ul > li > a:hover {
        border-bottom: 3px solid rgba(255,250,250,0.9);
        color: #fffde1;
    }
</style>
<div id="task-page" class="container">
    <div class="task-page-header">
        <span>Task</span> ─ Let's see what you have in store ...
        <div class="title-separator"></div>
    </div>
    <div class="task-options container">
        <ul class="container">
            <li>
                <a onclick="addTaskForm()">Add Task</a>
            </li>
            <li>
                <a onclick="promptMsg('Edit Task feature is not available')">Edit Task</a>
            </li>
            <li>
                <a onclick="promptMsg('Search Task feature is not available')">Search Task</a>
            </li>
            <li>
                <a onclick="promptMsg('Delete Task feature is not available')">Delete Task</a>
            </li>
        </ul>
    </div>
    @model DailyTaskReport.Models.TaskSearch
    <div style="max-width: 700px; margin: auto;">
        Display Tasks for 
        @Html.DropDownListFor(m => m.Month, Model.MonthLists, "--Month--")
        @Html.TextBoxFor(m => m.Year, new { @class = "numberOnly", @maxlength = 4 })
    </div>
    <div class="task-content">
    </div>
</div>

<script>
    $(function () {
        numberOnly();
    })
    function blockContent(){
        $('div#uiBlocker').removeClass('elementHide');
        $('div#uiBlocker').addClass('elementShow');
    }
    function unblockContent() {
        $('div#uiBlocker').removeClass('elementShow');
        $('div#uiBlocker').addClass('elementHide');
    }
</script>