<script>
    if ("@Session["_user"]" == "") {
        console.log("Session expired.");
        promptMsg("Current session has expired. <br /> Please login again", true);
    }
    else {
        $(function () {
            toggleUIBlocker(false);
        });
    }
</script>
<style>
    div.task-page-header > div.title-separator {
        height: 10px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
    }
    div.task-page-header > span {
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    div.task-page-header {
        line-height: 0.5;
    }
    div.task-content {
        padding: 10px 0;
        background: rgba(36,0,0,0.3);
        margin: 5px auto 0 auto;
        max-height: 500px;
        max-width: 700px;
        overflow-y: scroll;
        display: block;
    }
    div.task-content > div {
        padding: 10px 20px;
        margin: 0px;
    }
    div.date-content {
        background: rgba(36,0,0,0.9);
        padding: 10px;
        display: inline-block;
    }
    div.data-content > div {
        padding: 0;
        background: rgba(36,0,0,0.2);
    }
    div.data-content > div:nth-child(2n) {
        background: rgba(36,0,0,0.5);
    }
    div.data-content > div > div {
        padding: 10px 0;
        display: inline-block;
        float: left;
    }
    div.data-content > div > div > div {
        padding: 0 -15px;
    }
    div.data-content > div > div > div > div {
        padding: 0
    }
    div.task-options {
        margin: 15px auto 0 auto;
        width: 430px;
    }
    div.task-options > ul {
        list-style: none;
        line-height: 40px;
        margin: 0px;
    }
    div.task-options > ul > li {
        float: left;
        background-color: rgba(50,0,0,0.9);
    }
    div.task-options > ul > li > a {
        transition-duration: 0.3s;
        text-decoration: none;
        display: block; 
        padding: 0 10px;
        cursor: pointer;
        color: lightgrey;
        border-bottom: 3px solid rgba(36,0,0,0.0);
    }
    div.task-options > ul > li > a:hover {
        border-bottom: 3px solid rgba(255,250,250,0.9);
        color: #fffde1;
    }
</style>
<div id="task-page" class="container">
    <div class="task-page-header">
        <span>Task</span> ─ Let's see what you have in store ...
        <div class="title-separator"></div>
    </div>
    <div class="task-options container">
        <ul class="container">
            <li>
                <a onclick="addTaskForm()">Add Task</a>
            </li>
            <li>
                <a onclick="promptMsg('Edit Task feature is not available')">Edit Task</a>
            </li>
            <li>
                <a onclick="promptMsg('Delete Task feature is not available')">Delete Task</a>
            </li>
        </ul>
    </div>
    
    @model DailyTaskReport.Models.TaskSearch
    @using (Html.BeginForm("searchTask", "Task", FormMethod.Get, new { @id = "frmTaskSearch", @style = "max-width: 700px; margin: 15px auto 0 auto;" }))
    {
        <span>Display Tasks for</span>
        @Html.TextBoxFor(m => m.encUser, new { @style = "display: none;", Value = Session["_user"] })
        @Html.DropDownListFor(m => m.Month, Model.MonthLists, "--Month--", new { @style = "padding: 3px; text-align: center;" })
        @Html.TextBoxFor(m => m.Year, new { @class = "numberOnly", @style = "padding: 2px; text-align: center; width: 50px;", @maxlength = 4 })
        <button class="bgcred fontWhite" type="submit">Search</button>
    }
    <div id="user-tasks-lists" class="task-content">
    </div>
</div>

<script>
    $(function () {
        numberOnly();
        getListOftheMonth();
        $("#frmTaskSearch").on('submit', function (e) {
            e.preventDefault();
            console_log("task searching : " + $("#Month option:selected").text() + " " + $("#Year").val());
            getListOftheMonth();
        });
    });

    function blockContent(){
        $('div#uiBlocker').removeClass('elementHide');
        $('div#uiBlocker').addClass('elementShow');
    }
    function unblockContent() {
        $('div#uiBlocker').removeClass('elementShow');
        $('div#uiBlocker').addClass('elementHide');
    }
    function getListOftheMonth() {
        toggleUIBlocker();
        $.ajax({
            async: true,
            type: 'GET',
            url: $('#frmTaskSearch').attr("action"),
            data: $('form#frmTaskSearch :input').serializeArray(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            dataType: 'html',
            cache: false,
            success: function (result) {
                setTimeout(function () {
                    if (result !== "") {
                        $('#user-tasks-lists').html(result);

                    }
                    else {
                        promptSessionExpired();
                    }
                    toggleUIBlocker();
                }, 500);
            },
            error: function (xhr, status, errorThrown) {
                ajaxErrorHandler('retrieving tasks lists', status, errorThrown);
            }
        });
    }
</script>